@import url('./modules/common.css');  
@import url('./modules/loader.css');
@import url('./modules/modal.css');
@import url('./modules/pages/survey.css');
@import url('./modules/pages/contest.css');

/* body {
  height: 100vh;
  overflow: hidden;
} */

.main-page {
  text-align: center;
}

.header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  text-align: center;
  z-index: 10;
}

.header__content {
  width: 1200px;
  display: flex; 
  justify-content: space-between;
  padding: 15px 20px;
  margin: auto;
}

.logo {
  width: 94px;
}

.dn-logo {
  width: 29px;
}

.colls-container {
  /* display: flex;
  height: 100vh;
  width: 100%;
  align-items: stretch; */

  display: flex;
  align-items: stretch;
  height: 100vh;
  overflow: hidden;
  justify-content: center;
}

.col {
  transition: all 0.5s ease;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  padding-bottom: 60px;
  box-sizing: border-box;
  max-width: 33.4%;
  position: relative;
}

.col:not(.col--page):hover .col__content {
  color: #fff;
}

.col:not(.col--large)::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(132, 137, 142, 0.6)
}

.col:not(.col--large):hover::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(62, 142, 215, 0.5);
  cursor: pointer;
}

.col--l {
  background: url(../img/L.png);
  /* background-blend-mode: multiply; */
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;

  flex: 1;
}

.col--c {
  background: url(../img/C.png);
  /* background-blend-mode: multiply; */
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;

  flex: 1;
}

.col--c-large {
  background-image: url(../img/survey-c.png);
}

.col--r {
  background: url(../img/R.png);
  /* background-blend-mode: multiply; */
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 65% 0;

  flex: 1;
}

.col--r-large {
  background: #fff;
}

.col--large {
  flex: 12;
  max-width: 100%;
}

.col__content {
  max-width: 350px;
  color: rgba(255, 255, 255, 0.6);
  transition: color 0.3s;
  text-align: left;
  position: relative;
}

.col__header {
  font-size: 22px;
  font-weight: 700;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  line-height: 1.5;
  position: relative;
  display: inline-block;
}

.col__header::after {
  content: '';
  position: absolute;
  bottom: -18px;
  left: 0;
  width: 100%;
  height: 3px;
  background: rgba(255, 255, 255, 0.6);
}

.col__text {
  margin: 35px 0 24px 0;
  font-weight: 600;
  font-size: 16px;
  line-height: 1.3; 
}

.col__list-container {
  display: flex;
  justify-content: space-between;
  font-size: 14px;
  font-weight: 600;
  line-height: 1.5;
}

.next-btn {
  line-height: 18px;
  font-size: 12px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  background: transparent;
  padding: 5px 30px 4px;
  box-sizing: border-box;
  border-radius: 2px;
  margin-top: 15px;
  display: inline-block;
  border: 2px solid #fff;
  color: #fff;
  cursor: pointer;
}

.next-btn--unactive {
  border: 2px solid rgba(255, 255, 255, 0.6);
  color: rgba(255, 255, 255, 0.6);
}

.col__text--c {
  margin-bottom: 85px;
}

.col__text--r {
  margin-bottom: 85px;
}

.col__text-mob {
  display: none;
}

.contest-page {
  display: none;
}

.col--page.col--large {
  display: block;
}

.survey-bg__item-text--show {
  display: block;
}

.survey-bg__item-text--hide {
  display: none;
}

.user-name {
  position: absolute;
  top: 50%;
  left: 50%;
  color: #fff;
  font-size: 18px;
}

.user-name__link {
  color: #fff;
}

.user-name__link {
  text-decoration: underline;
  margin: 0 20px 8px 0;
  display: block;
}

.user-name__date {
  font-size: 15px;    
  color: #b0bec5;
}

.winner-container {
  background: #F3F3F3;
  padding: 48px 36px;
  text-align: left;
}

.winner__title {
  font-size: 22px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  margin-bottom: 44px;
  color: #000000;
  font-weight: 700;
}

.winner-colls {
  display: flex;
  justify-content: space-between;
}

.winner__img {
  max-width: 240px;
}

.winner__link {
  display: block;
  font-size: 16px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  font-weight: 700;
  text-decoration: none;
  margin-top: 16px;
  color: #000000;
}

.winner-col--text {
  font-size: 16px;
  color: #000000;
  font-weight: 500;
  /* margin-left: 60px; */
  max-width: 429px;
}

.winner-col--text p {
  margin-bottom: 15px;
}

.winners__btn {
  font-size: 12px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: #000000;
  font-weight: 700;
  display: inline-block;
  border: 2px solid #000000;
  box-sizing: border-box;
  border-radius: 2px;
  padding: 17px 20px 13px;
  margin-top: 60px;
}

.winner-col--gallery {
  display: flex;
  align-items: flex-start;
}

.photo-miniature__img {
  width: 50px;
  margin: 0 0 8px 8px;
  cursor: pointer;
  display: block;
  box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.08);
}

.photo-large__img {
  width: 217px;
  box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.12);
}

.photo-large {
  position: relative;
}

.photo-large__link {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  font-size: 13px;
  text-align: center;
  color: #3E8ED7;
  background: rgba(62, 142, 215, 0.2);
  cursor: pointer;
  padding: 6px 0 2px;
}

.winner-content {
  max-width: 1100px;
  margin: auto;
}

.winners-link {
  text-decoration: underline;
  font-weight: 700;
  color: #000;
}

@media (max-width: 1024px) {
  .winner-col--text {
    margin: 0 20px;
  }

  .survey-bg__item-text--show {
    display: none;
  }

  .colls-container {
    flex-direction: column;
    width: 100%;
    height: auto;
    display: block;
  }

  .col {
    width: 100%;
    background-position: center top;
    padding-bottom: 0;
    max-width: unset;
  }

  .col--l {
    background-image: url(../img/l-tab.png);
  }

  .col--c {
    background-image: url(../img/c-tab.png);
  }

  .col--r {
    background-image: url(../img/r-tab.png);
  }

  .col__content {
    flex-direction: row;
    max-width: unset;
    padding: 80px 60px;
    justify-content: flex-start;
    align-items: center;
    box-sizing: border-box;
  }

  .col__text--r, 
  .col__text--c {
    margin-bottom: 0;
  }

  .col__text {
    max-width: 600px;
  }

  .col__list-container {
    justify-content: flex-start;
  }

  .col__list {
    margin-right: 60px;
  }

  .header__content {
    width: 100%;
    box-sizing: border-box;
  }
}

@media (max-width: 768px) {
  .winner-colls {
    display: block;
    text-align: center;
  }

  .winner-col--text {
    margin: 30px auto;
    max-width: 500px;
    text-align: center;
  }

  .winner-col--gallery {
    justify-content: center;
    margin-top: 60px;
  }

  .winners__btn {
    margin-top: 20px;
  }
}

@media (max-width: 425px) {
  .winner__title {
    font-size: 18px;
    line-height: 1.3;
    text-align: center;
    margin-bottom: 28px;
  }

  .winner-container {
    padding: 40px 30px;
  }

  .winner__link {
    font-size: 12px;
    margin-left: 15px;
    text-align: center;
    display: block;
  }

  .winner-col--text {
    line-height: 17px;
    font-size: 13px;
    text-align: center;
  }

  .winners__btn {
    display: block;
    font-size: 12px;
    padding: 13px 20px 10px;
  }
  
  .logo {
    width: 83px;
  }

  .dn-logo {
    width: 22px;
  }

  /* .header {
    position: fixed;
  } */

  .header__content {
    padding: 15px 16px;
  }

  .col__content {
    padding: 135px 30px 90px;
    max-width: unset;
    display: block;
    text-align: center;
    color: #fff;
  }

  .col__header {
    font-size: 20px;
  }

  .col__header::after {
    width: 0;
    height: 0;
  }

  .col__text {
    display: none;
  }

  .col__text-mob {
    font-weight: 600;
    line-height: 18px;
    font-size: 13px;
    display: block;
    margin-top: 16px;
    position: relative;
  }

  .col__text-mob::after {
    content: '';
    width: 137px;
    height: 16px;
    background-image: url(../img/arrow.png);
    position: absolute;
    bottom: -25px;
    left: 50%;
    margin-left: -68px;
  }

  .col__list-container {
    display: none;
  }

  .next-btn {
    display: none;
  }

  .col--l {
    background-image: url(../img/l-mob.png);
  }

  .col--c {
    background-image: url(../img/c-mob.png);
  }

  .col--r {
    background-image: url(../img/r-mob.png);
  }

  .survey-link--mob {
    display: none;
  }

  .col.col--active::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(62, 142, 215, 0.5);
    cursor: pointer;
  }
}