.contest-bg__item--l {
  width: 7%;
  background-image: url(../../../img/survey-l.png);
}

.contest-bg__item--c {
  width: 7%;
  background-image: url(../../../img/survey-c.png);
}

.contest-bg__item--r {
  width: 86%;
  /* height: 424px; */
}

.contest-desc {
  display: flex;
  padding: 80px 23px 47px;
  background-image: url(../../../img/contest-r.png);
  background-size: cover;
}

.contest-page {
  max-height: 100vh;
  overflow: auto;
}

.contest-desc__title {
  font-weight: 700;
  font-size: 22px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: #FFFFFF;
  text-align: left;
  margin-bottom: 24px;
  line-height: 1.3;
}

.contest-desc__road-map-item {
  position: relative;
}

.contest-desc__road-map-item:hover>.contest-desc__msg,
.contest-desc__road-map-item--start>.contest-desc__msg {
  opacity: 1;
}

.contest-desc__road-map {
  display: flex;
  margin-right: 150px;
  position: relative;
}

.contest-desc__road-map-icon {
  width: 90px;
  margin-bottom: 14px;
  cursor: pointer;
  box-sizing: border-box;
  border: 2px dashed transparent;
}

.contest-desc__road-map-icon:hover,
.contest-desc__road-map-item--start>.contest-desc__road-map-icon {
  border: 2px dashed #fff;
  border-radius: 50%;
}

.contest-desc__road-map-title {
  font-weight: 700;
  font-size: 16px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: #FFFFFF;
  line-height: 1.3;
  max-width: 165px;
}

.contest-desc__road-map-arrow {
  width: 76px;
  height: 15px;
  margin: 40px 10px 0;
}

.contest-desc__col--rules {
  max-width: 350px;
}

.contest-desc__rules-text {
  font-weight: 400;
  font-size: 20px;
  color: #FFFFFF; 
  text-align: left;
  /* line-height: 1.3; */
  margin-bottom: 13px;
}

.contest-link {
  color: #fff;
  text-decoration: underline;
  cursor: pointer;
}

.contest-btn {
  font-weight: 700;
  font-size: 12px;
  text-align: center;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: #FFFFFF;
  border: 2px solid #FFFFFF;
  box-sizing: border-box;
  border-radius: 2px;
  background: transparent;
  padding: 12px 25px 10px;
  display: block;
}

.rules-link {
  font-weight: 500;
  line-height: 23px;
  font-size: 16px;
  text-decoration-line: underline;
  display: block;
  color: #FFFFFF;
  text-align: left;
  margin-top: 37px;
}

.contest-desc__msg,
.contest-desc__msg-mob {
  position: absolute;
  bottom: -95px;
  left: 0;
  background: #fff;
  border-radius: 4px;
  width: 280px;
  text-align: left;
  padding: 16px 33px 15px 11px;
  font-weight: 500;
  font-size: 14px;
  box-sizing: border-box;
  opacity: 0;
}

.contest-desc__msg::before,
.contest-desc__msg-mob::before {
  content: '';
  position: absolute;
  top: -6px;
  left: 25px;
  background: #ffffff;
  width: 18px;
  height: 18px;
  transform: rotate(-45deg);
}

.loader-layout {
  display: none;
}

.modal--photo {
  width: 656px;
  /* position: absolute;
  top: 50%;
  left: 50%; */
  /* margin: -239px 0 0 -328px; */
  z-index: 1001;
  background: #fff; 
}

.modal__header {
  line-height: 32px;
  font-size: 22px;
  color: #000000;
  padding: 30px 48px 30px;
  text-align: left;
  background: rgba(74, 156, 207, 0.589);
}

.modal__body {
  background: #fff;
  padding: 0 56px 55px;
}

.modal {
  position: relative;
}

.modal__close {
  position: absolute;
  top: 0;
  right: -53px;
  width: 53px;
  height: 53px;
  background: #000;
  background-image: url(../../../img/close.png);
  background-size: 18px 18px;
  background-position: center;
  background-repeat: no-repeat;
  cursor: pointer;
}

.modal__title {
  font-weight: 600;
  line-height: 26px;
  font-size: 18px;
  color: #000000;    
}

.modal__subtitle {
  font-size: 12px;
  color: rgba(0, 0, 0, 0.6);
  margin: 5px auto 15px auto;
  max-width: 300px;
}

.modal__text {
  line-height: 19px;
  font-size: 14px;
  margin-top: 16px;
}

/* .modal__text-container {
  max-width: 163px;
} */

/* .modal-content {
  display: flex;
} */

.modal__photo-container {
  margin-left: 40px;

}

.photo__placeholder {
  cursor: pointer;
  border: 1px dashed #D1D1D1;
  box-sizing: border-box;
  border-radius: 4px;
  width: 110px;
  height: 80px;
  margin-right: 20px;
  background-image: url(../../../img/img-placeholder.png);
  background-size: 28px 28px;
  background-repeat: no-repeat;
  background-position: center;
  position: relative;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  vertical-align: top;
}

.hidden-form {
  display: none;
}

.loaded-photo {
  border-radius: 4px;
}

.remove-photo {
  position: absolute;
  width: 20px;
  height: 20px;
  top: 4px;
  right: 2px;
  background-image: url(../../../img/small-cross.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.warn {
  margin-top: 15px;
  font-size: 14px;
  color: #C20724;
}

.load-photo,
.next-step {
  margin: auto;
  display: block;
}

.next-step {
  margin-top: 20px;
}

.gallery__title {
  font-weight: 500;
  line-height: 14px;
  font-size: 24px;
  text-align: center;
  color: #656565;
}

.gallery-container {
  padding: 30px 35px 30px;
  background: #fff;
}

.count {
  font-size: 34px;
  font-weight: 900;
}

.gallery-content {
  display: flex;
  flex-wrap: wrap;
  margin-top: 24px;
}

.gallery__item {
  cursor: pointer;
  width: 220px;
  height: 220px;
  margin: 4px;
  display: flex;
  align-content: center;
  justify-content: center;
  position: relative;
}

.gallery__item-photo {
  max-width: 100%;
  max-height: 100%;
}

.view-layout {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, .6);
  z-index: 9999;
}

.view-photo {
  position: fixed;
  top: 50%;
  left: 50%;
}

.close-viewer {
  width: 25px;
  height: 25px;
  background-image: url(../../../img/mc-close.png); 
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  position: fixed;
  top: 50%;
  left: 50%;
  cursor: pointer;
}

.gallery__item-remove {
  position: absolute;
  top: 4px;
  right: 4px;
  color: rgba(0, 0, 0, .4);
  width: 14px;
  height: 14px;
  border-radius: 50%;
  font-size: 12px;
  font-weight: 700;
  border: 1px solid rgba(0, 0, 0, .4);
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

.contest-desc__msg-mob {
  display: none;
}

@media(max-width: 1024px) {
  .contest-desc {
    display: block;
  }

  .contest-desc__road-map {
    margin-right: 0;
  }

  .contest-desc__col--rules {
    margin-top: 120px;
    max-width: 700px;
  }
}

@media (max-width: 768px) {
  .survey-bg {
    display: none;
  }

  .contest-page {
    margin: 0;
    width: 100%;
  }

  .contest-desc__msg {
    display: none;
  }

  .contest-desc__msg-mob--start {
    opacity: 1;
  }

  .contest-desc__msg-mob {
    display: block;
    width: 100%;
    height: 73px;
    text-align: center;
  }

  .contest-desc__msg-mob[data-id="1"]::before {
    left: 40px;
  }

  .contest-desc__msg-mob[data-id="2"]::before {
    left: 50%;
    margin-left: -13px;
  }

  .contest-desc__msg-mob[data-id="3"]::before {
    left: unset;
    right: 40px;
  }

  .contest-desc__road-map-item {
    margin: 0 1px;
  }

  .col__content {
    padding-bottom: 100px;
  }
}

@media (max-width: 425px) {
  .contest-desc__road-map-arrow {
    display: none;
  }

  .contest-desc__road-map-icon {
    width: 68px;
  }

  .contest-desc__road-map-title {
    font-size: 10px;
    max-width: 100px;
  }

  .contest-desc__road-map {
    justify-content: space-around;
  }

  .contest-desc__title {
    font-size: 18px;
    margin-bottom: 15px;
    text-align: center;
  }

  .contest-desc__msg {
    font-size: 13px;
  }

  .contest-desc__rules-text {
    font-size: 13px;
    line-height: 1.4;
    text-align: center;
    margin-bottom: 24px;
  }

  .send-photo {
    margin: auto;
  }

  .rules-link {
    text-align: center;
    font-size: 14px;
  }

  .contest-desc {
    padding: 80px 15px 32px;
  }

  .gallery__title {
    font-size: 16px;
  }

  .count {
    font-size: 20px;
  }

  .gallery-container {
    padding: 24px 0 30px 0;
  }

  .gallery__item {
    width: 106px;
    height: 106px;
  }

  .gallery-content {
    justify-content: center;
  }

  .modal__close {
    right: 0;
  }

  .modal__close {
    right: 0;
  }

  .modal__photo-container {
    margin: 0;
  }

  .modal__body {
    padding: 0 20px 20px;
  }
}