.survey-bg {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: stretch;
  z-index: -1;
}

.survey-bg__item {
  background-size: cover;
  background-position: top center;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  padding: 40px;
  box-sizing: border-box;
  display: block;
  cursor: pointer;
  position: relative;
  z-index: 999;
}

.survey-bg__item-text {
  position: absolute;
  top: 90%;
  left: 50%;
  margin-left: 10px;
  transform-origin: 0 100%;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: #FFFFFF;
  opacity: 0.6;
  transform: rotate(-90deg);
  white-space: nowrap;
  display: none;
  cursor: pointer;
}

.survey-bg__item--l {
  width: 7%;
  background-image: url(../../../img/survey-l.png);
}

.survey-bg__item--c {
  width: 86%;
  background-image: url(../../../img/survey-c.png);
}

.survey-bg__item--r {
  width: 7%;
  background-image: url(../../../img/survey-r.png);
}

.survey-container {
  margin: 0 auto;
  padding: 100px 0 130px;
  height: 100vh;
  max-width: 86%;
  width: 880px;
  box-sizing: border-box;
  display: none;
}

.survey-content {
  background: rgba(255, 255, 255, 0.7);
  padding: 30px 80px;
  text-align: left;
  overflow-y: scroll;
  height: 100%;
  box-sizing: border-box;
  text-align: center;
}

.survey-title {
  background: rgba(255, 255, 255, 0.9);
  border-bottom: 1px solid #979797; 
  padding: 30px 60px 22px;
}

.survey-title__text {
  font-size: 30px;
  text-align: center;
  font-weight: 700;
  color: #000000; 
  margin-bottom: 12px;
}

.survey-item__question {
  font-weight: 600;
  line-height: 1.3;
  font-size: 22px;
  color: #000000;
  margin-bottom: 12px;
}

.survey-item__answer {
  font-weight: 500;
  line-height: 1.4;
  font-size: 16px;
  margin-bottom: 7px;
  position: relative;
  padding-left: 24px;
  cursor: pointer;
}

.survey-item__answer::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 16px;
  height: 16px;
  margin-top: 0px;
  border-radius: 50%;
  border: 3px solid #fff;
  box-sizing: border-box;
}

.survey-item__answer--check::before { 
  border-radius: 0;
}

.survey-item__answer:hover:not(.survey-item__answer--active)::before {
  background: rgba(62, 141, 215, 0.5);
}

.survey-item__answer--active::before {
  background: #3E8ED7;
}

.survey-item {
  margin-bottom: 32px;
  text-align: left;
}

.res-btn {
  line-height: 18px;
  font-size: 12px;
  text-align: center;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  font-weight: 700;
  color: #FFFFFF;
  background: #3E8ED7;
  border-radius: 2px;
  border: 0;
  padding: 9px 40px 6px;
  margin: 0 auto 56px;
}

.nav-mobile {
  display: none;
  z-index: 999;
}

.auth-title {
  font-size: 30px;
  font-weight: 700;
  margin-bottom: 10px;
}

.auth-text {
  font-size: 20px;
  margin-bottom: 20px;
}

.auth-btn {
  margin-bottom: 0;
  font-size: 18px;
  padding: 15px 30px;
}

.error-container {
  display: none;
  font-size: 18px;
  margin-bottom: 15px;
  font-weight: 600;
  color: rgba(235, 87, 87, 0.7);
}

.result-item {
  margin-bottom: 40px;
}

.result-item__header {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.result-item__header-icon {
  width: 48px;
}

.result-item__header-text {
  font-weight: 600;
  line-height: 1.3;
  font-size: 22px;
  margin-left: 18px;
  text-align: left;
}

.result-item__answer {
  text-align: left;
}

.result-item__answer-text {
  font-weight: 500;
  font-size: 16px;
  padding-left: 20px; 
  margin-bottom: 6px;
} 

.result-item__progress {
  background: #FFFFFF;
  border-radius: 4px; 
  height: 30px;
  margin-bottom: 30px;
  /* overflow: hidden; */
}

.result-item__progress-line {
  height: 100%;
  width: 0%;
  border-radius: 4px 20px 20px 4px;
  position: relative;
  /* transition: width 0.4s; */
}

.result-item__progress-line::before {
  content: '';
  background: #FFFFFF;
  box-shadow: 1px 3px 6px rgba(0, 0, 0, 0.22);
  width: 20px;
  height: 20px;
  top: 5px;
  right: 5px;
  position: absolute;
  border-radius: 50%;
}

.result-item__progress-text {
  font-weight: 600;
  font-size: 22px;
  position: absolute;
  right: -70px;
  top: 50%;
  margin-top: -10px;
  width: 62px;
}

.result-item .result-item__answer:nth-child(3n+1) .result-item__progress-line {
  background: #5DBEC8;
}

.result-item .result-item__answer:nth-child(3n+2) .result-item__progress-line {
  background: #FFA34D;
}

.result-item .result-item__answer:nth-child(3n+3) .result-item__progress-line {
  background: #54A5D5;
}

.result-item .result-item__answer:nth-child(3n+4) .result-item__progress-line {
  background: #D7EE49;
}

.result-item .result-item__answer:nth-child(3n+5) .result-item__progress-line {
  background: #C77CDA;
}

.result-item .result-item__answer:nth-child(3n+6) .result-item__progress-line {
  background: #D55473;
}

/* ------------------ */

.result-item .result-item__answer:nth-child(3n+1) .result-item__progress-text {
  color: #5DBEC8;
}

.result-item .result-item__answer:nth-child(3n+2) .result-item__progress-text {
  color: #FFA34D;
}

.result-item .result-item__answer:nth-child(3n+3) .result-item__progress-text {
  color: #54A5D5;
}

.result-item .result-item__answer:nth-child(3n+4) .result-item__progress-text {
  color: #D7EE49;
}

.result-item .result-item__answer:nth-child(3n+5) .result-item__progress-text {
  color: #C77CDA;
}

.result-item .result-item__answer:nth-child(3n+6) .result-item__progress-text {
  color: #D55473;
}

.survey-footer {
  display: flex;
  text-align: left;
  margin: 150px -44px 0;
}

.survey-footer__title {
  font-size: 22px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: #000000;
  font-weight: 700;
  margin-bottom: 24px;
}

.survey-footer__list-item {
  font-weight: 500;
  line-height: 1.4;
  font-size: 14px;
  margin-bottom: 12px;
  position: relative;
}

.survey-footer__list-item::before {
  content: '-';
  position: absolute;
  top: 0;
  left: -12px;
}

.survey-footer__col:first-child {
  margin-right: 37px;
}

.bold {
  font-weight: 700;
}

.survey-link {
  color: #000;
  text-decoration: underline;
  cursor: pointer;
  font-size: 14px;
}

.survey-footer__link-container {
  display: flex;
  align-items: flex-start;
  margin-top: 60px;
}

.survey-footer__link-list-item {
  margin-bottom: 15px;
}

.survey-footer__link-list {
  margin-left: 30px;
}

.link-btn {
  padding: 7px 20px 5px;
}

@media (max-width: 1024px) {
  .survey-container {
    width: 80%;
  }

  /* .header {
    display: none;
  } */

  .survey-bg__item-text {
    display: none;
  }

  .nav-mobile.nav-mobile-show {
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background: rgba(255, 255, 255, 0.9);
    text-align: center;
    padding: 12px 20px;
    cursor: pointer;
    display: flex;
    align-items: center;
    box-sizing: border-box;
    justify-content: space-between;
  }

  .nav-mobile__text {
    font-size: 14px;
    color: #000000;
    font-weight: 500;
    display: inline-block;
    padding-left: 38px;
    position: relative;
  }

  .nav-mobile__text::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 31px;
    height: 12px;
    background-image: url(../../../img/line-nav.png);
    background-size: contain;
    background-repeat: no-repeat;
  }
}

@media (max-width: 960px) {
  .survey-footer {
    display: block;
  }

  .survey-footer__col {
    text-align: center;
  }


  .survey-footer__list-item {
    text-align: left;
  }

  .survey-footer__list {
    max-width: 500px;
    margin: 0 auto 40px;
  }

  .survey-footer__link-container {
    margin: 30px auto 0;
    max-width: 500px;
  }

  .survey-footer__col:first-child {
    margin-right: 0;
  }
}

@media (max-width: 600px) {
  .survey-bg {
    background-color: #98BEE0;
    background-image: url(../../../img/survey-bg-mob.png);
    background-size: cover;
    background-repeat: no-repeat;
  }

  .survey-bg__item,
  .header--survey {
    display: none;
  }

  .survey-container {
    padding: 56px 8px;
    height: 100vh;
    width: 100%;
    max-width: 100%;
    box-sizing: border-box;
  }

  .survey-title__text {
    line-height: 20px;
    font-size: 18px;
    margin-bottom: 7px;
  }

  .survey-title__subtitle {
    line-height: 16px;
    font-size: 12px;
  }

  .survey-title {
    padding: 19px 24px 17px;
  }

  .survey-content {
    padding: 17px 36px 17px 11px;
  }

  .survey-item__question {
    font-size: 16px; 
    margin-bottom: 16px;
  }

  .survey-item__answer {
    font-size: 12px;
    padding-left: 20px;
  }

  .survey-item__answer::before {
    width: 12px;
    height: 12px;
    margin-top: 2px;
  }

  .result-item__header-icon {
    width: 34px;
  }

  .result-item__header-text {
    font-size: 16px;
    margin-left: 8px;
  }

  .result-item__header {
    margin-bottom: 24px;
  }

  .result-item__answer-text {
    font-size: 14px;
    padding-left: 0;
  }

  .result-item__progress {
    height: 22px;
  }

  .result-item__progress-line::before {
    box-shadow: 1px 2px 4px rgba(0, 0, 0, 0.22);
    width: 14px;
    height: 14px;
    top: 4px;
    right: 4px;
  }

  .result-item__progress-text {
    font-size: 14px;
    right: -64px;
    top: 50%;
    margin-top: -6px;
    width: 62px;
  }

  .survey-footer {
    margin: 30px 0 0 0;
  }

  .survey-footer__title {
    font-size: 22px;
    text-align: left;
  }

  .survey-footer__list {
    max-width: unset;
    width: 100%;
    margin-bottom: 24px;
  }

  .survey-footer__link-container {
    display: block;
    text-align: left;
    margin-bottom: 50px;
  }

  .survey-footer__link-list {
    margin: 24px 0 0 0;
  }

  .survey-footer__list-item::before {
    content: '';
  }

  .video-payer {
    width: 100%;
    height: 160px;
  }
}