.col-container {
  display: flex;
  align-items: stretch;
  height: 100vh;
}

.col__item--1 {
  background: rgba(132, 137, 142, 0.6) url(../../../../dist/img/L.png);
  background-blend-mode: multiply;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  flex: 1;
}

.col__item--2 {
  background: rgba(132, 137, 142, 0.6) url(../../../../dist/img/C.png);
  background-blend-mode: multiply;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  flex: 1;
}

.col__item--3 {
  background: rgba(132, 137, 142, 0.6) url(../../../../dist/img/R.png);
  background-blend-mode: multiply;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  flex: 1;
}

.col__item:hover {
  flex: 12;
}

.col__item:hover .col__content {
  display: none;
}