@import url('./reset.css');

@font-face {
  font-family: 'Gilroy';
  src: url("./../../fonts/Gilroy-Bold.otf") format("opentype");
  font-weight: 700;
}

@font-face {
  font-family: 'Gilroy';
  src: url("./../../fonts/Gilroy-Semibold.otf") format("opentype");
  font-weight: 600;
}

@font-face {
  font-family: 'Gilroy';
  src: url("./../../fonts/Gilroy-Medium.otf") format("opentype");
  font-weight: 500;
}

input {
  outline: none;
}

a {
  text-decoration: none;
}

button, textarea {
  font-family: 'Gilroy', sans-serif;
}

button {
  cursor: pointer;
  outline: none;
}

body {
  font-family: 'Gilroy', sans-serif;
}